<div class="navbar navbar-inverse navbar-fixed-top navbar-alpaca" >
    <div class="container">
        <div class="navbar-header">
            <a href='' class="navbar-brand alpaca-nav-brand" >Alpaca Forms driven by WebSockets</a>
           
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="" target="_blank"></a></li>

            </ul>

        </div>
    </div>
</div>